<link rel="stylesheet" href="/css/header.css">
<header>
    <h1 class="fontLight">GARTY PARTY ANMELDUNG</h1>
    <div class="headerButtons">
        <button id="anmelden" class="melden" onclick="redirectAndmelden()" style="margin-left: 100px;">ANMELDEN</button>
        <button id="ummelden" class="melden" onclick="redirectUmmelden()">BEARBEITEN</button>
        <button id="abmelden" class="melden" onclick="redirectAbmelden()" style="margin-right: 100px;">ABMELDEN</button>
    </div>
</header>