<header>Das ist ein header</header>
<button id="anmelden" onclick="redirectAndmelden()"> Anmelden</button>
<button id="ummelden" onclick="redirectUmmelden()">Ummelden</button>
<button id="abmelden" onclick="redirectAbmelden()">Abmelden</button>