<div class="left">
    <img class="logo hidden" src="/img/logo.png">
    <div class="counterPeople stapeln zentrieren" id="counterPeople">
        <p>ANGEMELDETE GAESTE</p>
        <hr>
        <numOfPeople><%- guests.length %></numOfPeople>
    </div>
    <div class="counterPeople stapeln zentrieren">
        <p>VERBLEIBENDE ZEIT</p>
        <div class="kumpeln">
            <div class="timeField stapeln zentrieren">
                <p class="cdAnzeigen" id="daysAnzeige"></p>
                <hr>
                Tage
            </div>
            <div class="timeField stapeln zentrieren">
                <p class="cdAnzeigen" id="hoursAnzeige"></p>
                <hr>
                Stunden
            </div>
            <div class="timeField stapeln zentrieren">
                <p class="cdAnzeigen" id="minAnzeige"></p>
                <hr>
                Minuten
            </div>
            <div class="timeField stapeln zentrieren">
                <p class="cdAnzeigen" id="secAnzeige"></p>
                <hr>
                Sekunden
            </div>
        </div>
    </div>
</div>


<div class="main-1 mid">
    <div class="inner-form">
        <h1 id="message" class="hidden"></h1>
        <form action="/createNewEntry" method="post" id="mainForm">

            <div class="rahmen kumpeln noMarginTop">
                <div class="stapeln zentrieren">
                    <p class="nomargin">NAME</p>
                    <input type="text" name="name" placeholder="Vorname" required>
                </div>
                <div class="stapeln zentrieren">
                    <p class="nomargin">NACHNAME</p>
                    <input type="text" name="lastName" placeholder="Nachname" required>    
                </div>
            </div>

            <div class="rahmen">
                <div class="stapeln">
                    <div class="kumpeln zentrieren">
                        <div class="stapeln zentrieren marginZehn">
                            <p>ICH HELFE</p>
                            <input type="checkbox" name="help" id="help">
                            <label for="help"></label>
                        </div>
                        <div class="stapeln zentrieren marginZehn">
                            <p>...NICHT</p>
                            <input type="checkbox" name="helpnot" id="helpnot" checked>
                            <label for="helpnot"></label>
                        </div>
                    </div>
                    
                    <input type="number" name="telnum" class="hidden"placeholder="Telefonnummer" id="telnum">   
                </div>
            </div>

            <div class="rahmen stapeln zentrieren">
                <div clas="stapeln zentrieren">
                    <p>ANKUNFTSZEIT</p>
                    <input type="time" name="arrival" id="arrival" class="nomargin" placeholder="Ankunftszeit" >
                </div>
                <div class="kumpeln">
                    <div class="stapeln zentrieren marginZehn">
                        <p>BRAUCHE PARKPLATZ</p>
                        <input type="checkbox" name="parkplatz" id="parkplatz">
                        <label for="parkplatz"></label>
                    </div>
                    <div class="stapeln zentrieren marginZehn">
                        <p>BRAUCHE SCHLAFPLATZ</p>
                        <input type="checkbox" name="schlafplatz" id="schlafplatz">
                        <label for="schlafplatz"></label>
                    </div>
                </div>
                
                
            </div>
            
            <div class="rahmen kumpeln">
                <div class="stapeln">
                    <input type="number" name="people" id="people" placeholder="Anhang">
                    <p class="hidden" id="tooMuchPeople">Die maximale Anzahl an Personen ist 5.<br> Wenn es mehr sind, meldet euch bitte einzeln an.</p>
                </div>
                
                <div class="stapeln">
                    <input type="text" name="peopleinfo1" id="peopleinfo1" style="display: none;" placeholder="Name">
                    <input type="text" name="peopleinfo2" id="peopleinfo2" style="display: none;" placeholder="Name">
                    <input type="text" name="peopleinfo3" id="peopleinfo3" style="display: none;" placeholder="Name">
                    <input type="text" name="peopleinfo4" id="peopleinfo4" style="display: none;" placeholder="Name">
                </div> 
            </div>
            
            
            <div class="rahmen kumpeln">
                <div class="stapeln marginZehn zentrieren">
                    <p>ESSE ALLES</p>
                    <input type="checkbox" name="all" id="all" text="Ich esse alles" checked>
                    <label for="all"></label>
                </div>
                <div class="stapeln marginZehn zentrieren">
                    <p>VEGETARISCH</p>
                    <input type="checkbox" name="veget" id="veget" placeholder="vegetatrisch">
                    <label for="veget"></label>
                </div>
                <div class="stapeln marginZehn zentrieren">
                    <p>VEGAN</p>
                    <input type="checkbox" name="vegan" id="vegan" >
                    <label for="vegan"></label>
                </div>
                <div class="stapeln marginZehn zentrieren">
                    <p>ALLERGIEN</p>
                    <input type="checkbox" name="alerg" id="alerg" >
                    <label for="alerg"></label>
                </div>
                <div class="stapeln marginZehn zentrieren">
                    <p>BIN SPEZIELL</p>
                    <input type="checkbox" name="spezi" id="spezi" >
                    <label for="spezi"></label>
                </div>
            </div>
            <div class="zentrieren stapeln">
                <textarea class="textfeld" name="things" id="things" placeholder="Anmerkungen" oninput="autoGrow(this)"></textarea>
                <button type="submit" id="submit" class="submitButton">BESTAETIGEN</button>
            </div>
        </form>
    </div>
</div>

<div class="right">
    <img class="patrick patrickUnten" id="patrick" alt="Patrick" src="/img/bauchi.png">
</div>
