<div class="left">
    
    <div class="counterPeople stapeln zentrieren" id="counterPeople">
        <p>ANGEMELDETE GAESTE</p>
        <hr>
        <numOfPeople><%- guests.length %></numOfPeople>
    </div>
    <div class="counterPeople stapeln zentrieren">
        <p>VERBLEIBENDE ZEIT</p>
        <div class="kumpeln">
            <div class="timeField stapeln zentrieren">
                <p class="cdAnzeigen" id="daysAnzeige"></p>
                <hr>
                days
            </div>
            <div class="timeField stapeln zentrieren">
                <p class="cdAnzeigen" id="hoursAnzeige"></p>
                <hr>
                hours
            </div>
            <div class="timeField stapeln zentrieren">
                <p class="cdAnzeigen" id="minAnzeige"></p>
                <hr>
                minutes
            </div>
            <div class="timeField stapeln zentrieren">
                <p class="cdAnzeigen" id="secAnzeige"></p>
                <hr>
                seconds
            </div>
        </div>
    </div>
</div>


<div class="main-1 mid">
    <div class="inner-form">
        <h1 id="message" class="hidden"></h1>
        <form action="/createNewEntry" method="post" id="mainForm">

            <div class="rahmen kumpeln noMarginTop">
                <div class="stapeln zentrieren">
                    <p class="nomargin">NAME</p>
                    <input type="text" name="name" placeholder="Vorname" required>
                </div>
                <div class="stapeln zentrieren">
                    <p class="nomargin">NACHNAME</p>
                    <input type="text" name="lastName" placeholder="Nachname" required>    
                </div>
            </div>

            <div class="rahmen">
                <div class="stapeln">
                    <div class="kumpeln zentrieren">
                        <div class="stapeln zentrieren marginZehn">
                            <p>ICH HELFE</p>
                            <input type="checkbox" name="help" id="help">
                            <label for="help"></label>
                        </div>
                        <div class="stapeln zentrieren marginZehn">
                            <p>...NICHT</p>
                            <input type="checkbox" name="helpnot" id="helpnot" checked>
                            <label for="helpnot"></label>
                        </div>
                    </div>
                    
                    <input type="number" name="telnum" class="hidden"placeholder="Telefonnummer" id="telnum">
                    <div class="zentrieren stapeln" id="somethingRandom" style="display: none;">
                        <div class="rahmen stapeln">
                            <div class="kumpeln horizont">
                                <div class="stapeln zentrieren width120">
                                    <p>Salat</p>
                                    <input type="checkbox" name="salat" id="salat" class="backfisch">
                                    <label for="salat"></label>
                                </div>
                                <div>
                                    <input type="text" placeholder="was salat alder?" name="salatInput" id="salatInput">
                                </div>
                                <div class="stapeln zentrieren width120">
                                    <p>Getr채nke</p>
                                    <input type="checkbox" name="getr채nk" id="getr채nk" class="backfisch">
                                    <label for="getr채nk"></label>
                                </div>
                                <div class="stapeln zentrieren width120">
                                    <p>Baguette</p>
                                    <input type="checkbox" name="baguette" id="baguette" class="backfisch">
                                    <label for="baguette"></label>
                                </div>
                                <div class="stapeln zentrieren width120">
                                    <p>Snacks</p>
                                    <input type="checkbox" name="snacks" id="snacks" class="backfisch">
                                    <label for="snacks"></label>
                                </div>
                            </div>
                            <div class="kumpeln horizont">
                                <div class="stapeln zentrieren width120">
                                    <p>Spiel</p>
                                    <input type="checkbox" name="spiel" id="spiel" class="backfisch">
                                    <label for="spiel"></label>
                                </div>
                                <div class="stapeln zentrieren width120">
                                    <p>anderes</p>
                                    <input type="checkbox" name="anderes" id="anderes" class="backfisch">
                                    <label for="anderes"></label>
                                </div>
                                <div>
                                    <input type="text" placeholder="was anderes alder?" name="anderesInput" id="anderesInput">
                                </div>
                                <div class="stapeln zentrieren width120">
                                    <p>Tsatsiki</p>
                                    <input type="checkbox" name="tsatsiki" id="tsatsiki" class="backfisch">
                                    <label for="tsatsiki"></label>
                                </div>
                                <div class="stapeln zentrieren width120">
                                    <p>Abbau</p>
                                    <input type="checkbox" name="abbau" id="abbau" class="backfisch">
                                    <label for="abbau"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="rahmen stapeln zentrieren">
                <div clas="stapeln zentrieren">
                    <p>ANKUNFTSZEIT</p>
                    <input type="time" name="arrival" id="arrival" class="nomargin" placeholder="Ankunftszeit" required>
                </div>
                <div class="kumpeln">
                    <div class="stapeln zentrieren marginZehn">
                        <p>BRAUCHE PARKPLATZ</p>
                        <input type="checkbox" name="parkplatz" id="parkplatz">
                        <label for="parkplatz"></label>
                    </div>
                    <div class="stapeln zentrieren marginZehn">
                        <p>BRAUCHE SCHLAFPLATZ</p>
                        <input type="checkbox" name="schlafplatz" id="schlafplatz">
                        <label for="schlafplatz"></label>
                    </div>
                </div>
                
                
            </div>
            
            <div class="rahmen kumpeln">
                <div class="stapeln">
                    <input type="number" name="people" id="people" placeholder="Anhang">
                    <p class="hidden" id="tooMuchPeople">Die maximale Anzahl an Personen ist 5.<br> Wenn es mehr sind, meldet euch bitte einzeln an.</p>
                </div>
                
                <div class="stapeln">
                    <input type="text" name="peopleinfo1" id="peopleinfo1" style="display: none;" placeholder="Name">
                    <input type="text" name="peopleinfo2" id="peopleinfo2" style="display: none;" placeholder="Name">
                    <input type="text" name="peopleinfo3" id="peopleinfo3" style="display: none;" placeholder="Name">
                    <input type="text" name="peopleinfo4" id="peopleinfo4" style="display: none;" placeholder="Name">
                </div> 
            </div>
            
            
            <div class="rahmen kumpeln">
                <div class="stapeln zentrieren width120">
                    <p>ESSE ALLES</p>
                    <input type="checkbox" name="all" id="all" text="Ich esse alles" checked>
                    <label for="all"></label>
                </div>
                <div class="stapeln zentrieren width120">
                    <p>VEGETARISCH</p>
                    <input type="checkbox" name="veget" id="veget" placeholder="vegetatrisch">
                    <label for="veget"></label>
                </div>
                <div class="stapeln zentrieren width120">
                    <p>VEGAN</p>
                    <input type="checkbox" name="vegan" id="vegan" >
                    <label for="vegan"></label>
                </div>
                <div class="stapeln zentrieren width120">
                    <p>ALLERGIEN</p>
                    <input type="checkbox" name="alerg" id="alerg" >
                    <label for="alerg"></label>
                </div>
                <div class="stapeln zentrieren width120">
                    <p>BIN SPEZIELL</p>
                    <input type="checkbox" name="spezi" id="spezi" >
                    <label for="spezi"></label>
                </div>
            </div>
            <div class="zentrieren stapeln">
                <textarea class="textfeld" name="things" id="things" placeholder="Anmerkungen" oninput="autoGrow(this)"></textarea>
                <button type="submit" id="submit" class="submitButton kumpeln">
                    <img class="logo" src="/img/logo.png">
                    <div class="marginTop" >BESTAETIGEN</div>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="right">
    <img class="patrick patrickAnmelden" id="patrick" alt="Patrick" src="/img/bauchi.png">
</div>

<script src="/js/indexOnly.js"></script>